{extends file="../layout/default.html"}

{block name=content}
<!-- 画面の大きいクライアント(デスクトップ・タブレット用) -->
<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand">認証処理が完了しました</a>
		</div>
	</nav>

	<hr>

	<div>
		<div class="jumbotron">
			<h1>WISS Local Wiki</h1>
			<p>連絡事項などは、Wikiに掲載されます。</p>
			<p><a class="btn btn-default" href="#" role="button">Go Wiki »</a></p>
		</div>

		<div class="row">
			<div class="col-6 col-sm-6 col-lg-4">
			<h2>Bing</h2>
			<p></p>
			<p><a class="btn btn-default" href="#" role="button">Go Bing »</a></p>
			</div><!--/span-->
			
			<div class="col-6 col-sm-6 col-lg-4">
			<h2>Google</h2>
			<p></p>
			<p><a class="btn btn-default" href="#" role="button">Go Google »</a></p>
			</div><!--/span-->
			
			<div class="col-6 col-sm-6 col-lg-4">
			<h2>Yahoo</h2>
			<p></p>
			<p><a class="btn btn-default" href="#" role="button">Go Yahoo!! »</a></p>
			</div><!--/span-->
		</div>
	</div>

	<hr>

	<div>
		<p>&copy; Company 2013</p>
	</div>
</div>
{/block}

