{extends file="../layout/default.html"}

{* ページタイトル *}
{block name=title}端末情報確認{/block}

{block name=content}
{* サブミットフォーム *}
<div class="container">
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand">端末情報確認</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
		<li>
			<form class="navbar-form">
				<a class="btn btn-default" href="index.php/terminal/add">新規端末登録</a>
			</form>
		</li>
	</ul>
</nav>

<hr>

<table class="table table-bordered">
<thead>
	<th>#</th>
	<th>端末名</th>
	<th>MACアドレス</th>
	<th></th>
</thead>

<tbody>
	{if $terminals|@count == 0}
	<tr>
		<td colspan="5">現在登録されている端末はありません...</td>
	</tr>
	{else}
		{foreach from=$terminals item=terminal}
		<tr>
			<td>{$terminal->id}</td>
			<td>{$terminal->name}</td>
			<td>{$terminal->l2addr}</td>
			<td>
				<form action="index.php/terminal/delete" method="post">
					<input type="hidden" name="terminal_id" value="{$terminal->id}">
					<button class="btn btn-sm btn-danger btn-block" type="submit">消去</button>
				</form>
			</td>
		</tr>
		{/foreach}
	{/if}
</tbody>
</table>
{/block}

